


.type-anim {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(44, end);
    width:0;
    animation-fill-mode: forwards;
}


@keyframes typing {
    from {width: 0;}
    to {width: 100%}
}
