
@keyframes rounding-border {
    25% {
        border-top: 1px solid cyan;
        border-right: 1px solid white;
        border-bottom: 1px solid cyan;
        border-left: 1px solid white;
    }

    50% {
        border-top: 1px solid rgb(62, 135, 244);
        border-right: 1px solid cyan;
        border-bottom: 1px solid rgb(62, 135, 244);
        border-left: 1px solid cyan;
    }

    75% {
        border-top: 1px solid cyan;
        border-right: 1px solid rgb(62, 135, 244);
        border-bottom: 1px solid cyan;
        border-left: 1px solid rgb(62, 135, 244);
    }

    100% {
        border-top: 1px solid cyan;
        border-right: 1px solid white;
        border-bottom: 1px solid cyan;
        border-left: 1px solid white;
    }
}



